@model Test.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online Store</title>
</head>
<body>
    <form action="" method="post">
        <div>
            @Html.ValidationSummary(true)
            <h3>login</h3>
            <div>
                <label for="email">Login:</label>
                @Html.EditorFor(md => md.email)
                @Html.ValidationMessageFor(md => md.email)
            </div>
            <h3>password</h3>
            <div>
                <label for="password">Password:</label>
                @Html.PasswordFor(md => md.password)
                @Html.ValidationMessageFor(md => md.password)
            </div>
            <div>
                <input type="submit" name="send" />
            </div>
        </div>
    </form>
    <a href="~/Auth/RestorePassword">Restore the password</a>
</body>
</html>

